@import "./../lib/assets/styles/common.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  height: 100vh;
  color: rgb(var(--foreground-rgb));
  background-color: #f4eeff;
  overscroll-behavior: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.landing-bg-top {
  filter: drop-shadow(10px -2px 11px rgba(219, 206, 242, 0.3))
    drop-shadow(4px -2px 20px rgba(79, 0, 216, 0.3))
    drop-shadow(4px -2px 11px rgba(39, 0, 121, 0.3));
}

.input-shadow {
  box-shadow:
    6px 6px 36px 0 rgba(0, 0, 0, 0.06),
    5px 0 29px 0 rgba(255, 255, 255, 1),
    4px 4px 7px 0 rgba(0, 0, 255, 0.07);
}

.button-shadow {
  box-shadow:
    6px 6px 36px 0 rgba(0, 0, 0, 0.06),
    -4px -4px 13px 0 rgba(255, 255, 255, 1),
    4px 4px 7px 0 rgba(39, 0, 121, 0.07);
}

.contributors-content-shadow {
  box-shadow:
    10px 2px 36px 0px rgba(219, 206, 242, 0.3),
    -4px -4px 20px 0px rgba(79, 0, 216, 0.3),
    4px 4px 11px 0px rgba(39, 0, 121, 0.07);
}
